<IfModule mod_rewrite.c>
  RewriteEngine On
  # Indique au serveur que la base pour les règles est /m-bornes/
  RewriteBase /m-bornes/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  # Redirige tout vers l'index.html DANS le sous-dossier
  RewriteRule . /m-bornes/index.html [L]
</IfModule>